Language: Cpp
Standard: Cpp11
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
Cpp11BracedListStyle: true
PointerAlignment: Left
PointerBindsToType: true
TabWidth: 4
IndentWidth: 4
SortIncludes: false
AccessModifierOffset: -4
ColumnLimit: 80
NamespaceIndentation: None
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
AlwaysBreakTemplateDeclarations: true
UseTab: Never

AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true

SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2

IncludeBlocks: Regroup

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2

ReflowComments: true

AlignConsecutiveMacros: true
AlignTrailingComments: true
ContinuationIndentWidth: 4

AllowShortLambdasOnASingleLine: Empty

# AlignAfterOpenBracket: AlwaysBreak
# BinPackArguments: false
# BinPackParameters: false
