[submodule "lib/imgui-sfml"]
	path = lib/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/rltk"]
	path = lib/rltk
	url = https://github.com/marcogmaia/rltk
